
/* Define the target files
 * and other params
 * nextflow run <file.nf> -with-report <report_name>.html -with-trace -with-dag -with-timeline
 */
 
process {

  executor='pbs'
  queue='xeon'
  cpus = 2
  memory = 4.GB
  time = 4.h

  withLabel: fastqc_raw {
    cpus = 3
    memory = 8.GB
    time = 4.h
  }
  withLabel: fastp {
    cpus = 5
    memory = 16.GB
    time = 2.h
  }
  withLabel: fastqc_fastp {
    cpus = 3
    memory = 8.GB
    time = 4.h
  }
  withLabel: star_align {
    cpus = 16
    memory = 32.GB
    time = 4.h
  }
  withLabel: qualimap {
    cpus = 8
    memory = 16.GB 
    time = 4.h
  }
  withLabel: picard_matrix {
    cpus = 4
    memory = 8.GB
    time = 4.h
  }
  withLabel: samtools_index {
    cpus = 4
    memory = 16.GB
    time = 4.h
  }
  withLabel: samtools_flagstat {
    cpus = 4
    memory = 16.GB
    time = 4.h
  }
  withLabel: featureCounts {
    cpus = 8
    memory = 8.GB
    time = 4.h
  }
  withLabel: multiqc_featureCounts {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_samtools_flagstat {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_qualimap {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_picard {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_fastp {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_fastqc_raw {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_fastqc_fastp {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
  withLabel: multiqc_star_alignments {
    cpus = 1
    memory = 8.GB
    time = 1.h
  }
}
